doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title Pug-praktis
    body 
        h1 Hello!
        .block
            .block__tytle Мой первый заголовок
            .block__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quia in, qui ducimus laudantium beatae cumque necessitatibus asperiores? Necessitatibus voluptates autem itaque illo tempora nihil, aliquid distinctio natus recusandae repellendus.

    <script src='../index.js'></script>